#contenedor {
  position: relative;
  width: 900px;
  height: 600px;
}
#modal {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 900px;
  height: 600px;
  background-color: rgba(0,0,0,0.7);
}
#boton {
  position: center;
  
}
canvas {
  border: 1px solid;
  position: relative;
  top: 0px;
  left: 0px;
  background-color:white
}